# set the udev rule , make the device_port be fixed by Daiso Camera 
# Don't plug-in other board
KERNEL=="video*", ATTR{index}=="0", ATTRS{idVendor}=="1908", ATTRS{idProduct}=="2311", MODE:="0777", SYMLINK+="rebecam"