# set the udev rule , make the device_port be fixed by DFRobot fit0701
# Don't plug-in other board
KERNEL=="video*", ATTR{index}=="0", ATTRS{idVendor}=="038f", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="fit0701"